version: 2
updates:
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
  ignore:
    - dependency-name: "@wmde/wikit-*"
      update-types: ["version-update:semver-major"]
    - dependency-name: "vue*"
      update-types: ["version-update:semver-major", "version-update:semver-minor"]
    - dependency-name: "postcss-logical"
      update-types: ["version-update:semver-major"]
