@mixin links-without-underline {
	a {
		text-decoration: none;

		// for chrome
		&:focus-visible {
			outline: dotted;
			outline-width: 1px;
			outline-color: gray;
		}

		&:hover, &:active {
			text-decoration: underline;
		}
	}
}
