@import '@wikimedia/codex/dist/codex.style.css';
@import '@wikimedia/codex-design-tokens/theme-wikimedia-ui';

$spacing-layout-50: 0.5rem;
$spacing-layout-100: 1rem;
$spacing-layout-150: 1.5rem;
$spacing-layout-200: 2rem;
$spacing-layout-900: 9rem;

main.no-script {
	margin: 0 auto;
	font-size: $font-size-medium;
	line-height: $line-height-medium;
	font-family: $font-family-system-sans;
	font-weight: $font-weight-normal;
	color: $color-base;
	padding: 10vw $spacing-layout-150 $spacing-layout-150 $spacing-layout-150;
	max-inline-size: 680px;

	@media (min-width: $min-width-breakpoint-tablet) {
		padding: 10vw $spacing-layout-200 $spacing-layout-200 $spacing-layout-200;
	}

	@media (min-width: $min-width-breakpoint-desktop) {
		padding: $spacing-layout-900 0 $spacing-layout-150 0;
	}

	p {
		margin-block-end: 0;
	}

	.h5 {
		margin: $spacing-layout-150 0;
		font-size: $font-size-medium;
		line-height: $line-height-xxx-small;
		font-family: $font-family-system-sans;
		font-weight: $font-weight-bold;
		color: $color-emphasized;
	}

	.message-wrapper {
		padding: $spacing-layout-50 0;

		@media (min-width: $min-width-breakpoint-tablet) {
			padding: $spacing-layout-100 0;
		}
	}

	.description {
		padding-inline-start: $spacing-layout-150;
	}

	header {
		padding: $spacing-layout-150 0;

		.logo-link {
			inline-size: $size-full;
		}

		.query-builder-logo {
			background-image: url('/img/QB_Logo_Mobile.svg');
			inline-size: $size-full;
			block-size: 24px;
			background-size: contain;

			@media (min-width: $min-width-breakpoint-tablet) {
				background-image: url('/img/QB_Logo.svg');
				max-inline-size: 384px;
				block-size: 24px;
			}
		}

		justify-content: center;
	}
}

